body {
    background:  #1f1c1c   ;
    color:white;
}
h1 {
    color:  #bfb21b ;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


