body {
    /* Corp de toutes les pages */
    text-align: center; /* texte centré */
    background: #1f1c1c; /* fond noir */
    color: #ffffff; /* écriture blanche */
}

ul {
/* Présence : footer  */
    display: inline-flex; /* en ligne et dans des blocs */

}

h1 {
    /* Présence : header */
    color: sandybrown; /* couleur de la police */
    font-family: sans-serif; /* style de police */
    background-color: #000000; /* fond noir entête */
    width: 100%;
    height: 100%;
    margin: 0px 0px 40px;
    padding: 0px;
}

h2 {
    /* Présence : index, player */
    color:  #bfb21b ; /* couleur police */
}


table {
    /* */
    border-collapse: collapse;
}

th {
    /* */
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    /* */
    background-color: #f2f2f2;
    color: black;
}

th, td {
    /* */
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
}

@media screen and (max-width: 960px) {
    /* */
    .carousel {
        /* */ display: none;
    }

    .folow1, .folow2, .folow3 {
        /* */ display: none;
    }

    .fellows {
        /* */ font-size: x-large;
        padding: 30px;
    }

    .contact {
        /* */ text-align: center;
        padding: 30px 0px 0px 5px;

    }
}