<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
<!-- Entête -->

    <header th:replace="fragments/header.html :: top"></header>

<!-- Intitulé page -->
<article>

    <!-- Titre  -->
    <h1>ALBUMS</h1>
    <!-- Sous-titre  -->
    <h2>Us albums</h2>

</article>

<!-- 2ème partie -->
<section>

    <nav>
        <a href="#album-1"><img src="https://via.placeholder.com/25" title ="album1" alt="imgalbum1">
            <h4>Album1</h4>
            <p>date - main genre</p>
        </a>
        <a href="#album-2"><img src="https://via.placeholder.com/25" title="album2" alt="imgalbum2">
            <h4>Album2</h4>
            <p>date - main genre</p>
        </a>
        <a href="#album-3"><img src="https://via.placeholder.com/25" title="album3" alt="imgalbum3">
            <h4>Album2</h4>
            <p>date - main genre</p>
        </a>
    </nav>

</section>

<!-- Pied -->

    <footer th:replace="fragments/footer.html :: footer"></footer>


</body>

</html>