<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="styles.css" />
</head>

<body>

<footer th:fragment="bot">

    <nav>
        <ul>
            <li><a title="ALBUMS" href="#albums">ALBUMS</a></li>
            <li><a title="ARTISTS" href="#artists">ARTISTS</a></li>
            <li><a title="PLAYER" href="#player">PLAYER</a></li>
        </ul>
    </nav>

</footer>

</body>
</html>


<!-- Add in *.html for use footer -->
<!-- <footer th:replace="fragments/footer.html :: footer"></footer> -->