header {
    background-color: rgba(127, 177, 196, 0.27);
    display: flex;
    flex-direction: row;
}

header > div.element {
    padding: 8px;
}

footer {
    background-color: rgba(56, 147, 208, 0.27);
    text-align: center;
}