<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Artist</title>
</head>
<body>
<h3 th:text="${artist.id} ? 'Edit Artist' : 'Create Artist'">Artist</h3>
<form method="post" th:action="@{/artist}" th:object="${artist}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="artist-name">First name:</label>
    <input id="artist-name" name="artist_name" placeholder="Madonna" required th:field="*{artist_name}" type="text">
    <br><br>
    <label for="artist-bio">artist bio:</label>
    <input id="artist-bio" name="lastName" placeholder="" required th:field="*{artist_bio}" type="text">
    <br><br>
    <label for="artist-picture">artist picture:</label>
    <input id="artist-picture" name="birthPlace" placeholder="London" th:field="*{artist_picture}" type="text">
    <br><br>
    <input type="submit" value="Send">
</form>
<br>
<a href="/artists"> << Back </a>
</body>
</html> -->