<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums List</title>
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<h3>Albums</h3>

<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>title</th>
        <th>year</th>
        <th>label</th>
        <th>artiste</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.id}">id</td>
        <td th:text="${album.title}">album title</td>
        <td th:text="${album.year}">year</td>
        <td th:text="${album.label}">label</td>
        <td th:text="${album.artistName}">artiste</td>
    </tr>
    </tbody>
</table>
<br>
<a href="/">Return to the home page</a>

<footer th:replace="fragments/footer :: bot">
</footer>

</body>
</html>