<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/style.css" rel="stylesheet" >
    <title>Albums List</title>
</head>

<body>
<h1>D.I.S.C.O</h1>

<h3>Albums</h3>
<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>album title</th>
        <th>album year</th>
        <th>album label</th>
        <th>artiste</th>
        <th>id artiste</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">
        <td th:text="${album.id}">id</td>
        <td th:text="${album.title}">album title</td>
        <td th:text="${album.year}">year</td>
        <td th:text="${album.label}">label</td>
        <td><a th:href="@{/artist(id=${album.idArtist})}" th:text="${album.artistName}">Artist name</a> </td>
        <td th:text="${album.idArtist}">idArtist</td>
    </tr>
    </tbody>
</table>
<br>

<footer th:replace="fragments/footer :: bot">
</footer>

</body>
</html>
