<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/style.css" rel="stylesheet" >
    <title>Artist List</title>
</head>

<body>

<h1>D.I.S.C.O</h1>

<h2>All ARTISTS</h2>

<h3>Select the one you want to listen to : </h3>

<br>
<h3>Artists</h3>
<br><br>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Artist name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.id}">id</td>
        <td><a th:href="@{/albums/artist(id=${artist.id})}" th:text="${artist.name}">Artist name</a> </td>
    </tr>
    </tbody>
</table>

<a href="/"> << Return to the home page</a>

<footer th:replace="fragments/footer :: bot">
</footer>

</body>
</html>