<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Disco !!!</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<header th:replace="fragments/header.html :: top"></header>
<div class="container">
    <h3>Artist</h3>
    <h4 th:text="|${albums.get(0).artistName} |"></h4>
    <table class="table">
        <thead>
        <tr>
<!--            <th>Id album</th>-->
            <th>title</th>
            <th>year</th>
            <th>label</th>
            <th></th>
    <!--        <th>artiste</th>-->
    <!--        <th>id artiste</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="album : ${albums}">
<!--            <td th:text="${album.id}">id</td>-->
    <!--        <td th:text="${album.title}">album title</td>-->
            <td><a th:href="@{/artist/tracks/album(id=${album.id})}" th:text="${album.title}">album title</a> </td>
            <td th:text="${album.year}">year</td>
            <td th:text="${album.label}">label</td>
    <!--        <td th:text="${album.artistName}">Artist name </td>-->
    <!--        <td th:text="${album.idArtist}">idArtist</td>-->
            <td>
                <a th:href="@{/artist/tracks/album(id=${album.id})}">
                    <button type="button" class="btn btn-success">See</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments/footer.html"></footer>

</body>
</html>