<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link  th:href="@{src/main/resources/templates/style.css}" type="text/css" rel="stylesheet"/>-->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- <link rel="stylesheet" href="style.css" type="text/css" media="screen" /> -->
    <link href="/style.css" rel="stylesheet" >
    <title>D.I.S.C.O</title>
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<h2>HOME PAGE</h2>

<h3>D.I.S.C.O</h3>

<a href="/artists">Browse all artists</a>

<a href="/albums">Browse all albums</a>

<footer th:replace="fragments/footer :: bot">
</footer>

</body>
</html>