<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- <link rel="stylesheet" href="style.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="style.css">
    <title>D.I.S.C.O</title>

</head>

<body>

<header th:replace="header.html :: top">
</header>

<h2>D.I.S.C.O</h2>
<a href="/artists">Browse all artists</a>
<br><br>
<a href="/albums">Browse all albums</a>

<footer th:replace="footer :: bot">
</footer>

</body>
</html>

