<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- <link rel="stylesheet" href="style.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="../static/style.css">
    <title>PLAYER</title>

</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>

<h2>PLAYER</h2>

<a href="/"> << Return to the home page</a>

<footer th:replace="fragments/footer :: bot">
</footer>

</body>
</html>

