<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album Title - Artist name</title>
</head>

<body>

<header th:replace="fragments/header.html :: top">
</header>


<h1>D.I.S.C.O</h1>
<a href="/">home</a>
<a href="/artists">artists</a>
<a href="/albums">albums</a>
<br>
<h3>Tracks</h3>
<br><br>

<table>
    <thead>
    <tr>
        <th>track number</th>
        <th>track name</th>
        <th>track duration</th>
        <th>track genre</th>
        <th>track year</th>
        <th>artist name</th>
        <th>album name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="track : ${tracks}">
        <td th:text="${track.number}">track number</td>
        <td th:text="${track.name}">track name</td>
        <td th:text="${track.duration}">track duration</td>
        <td th:text="${track.genre}">track genre</td>
        <td th:text="${track.year}">track year</td>
        <td th:text="${track.artistName}">artist name</td>
        <td th:text="${track.albumName}">album name</td>
    </tr>
    </tbody>
</table>

<footer th:replace="fragments/footer :: bot">
</footer>

</body>
</html>
